<script src="../script.js"></script>

<footer>
    <a href="/index" id="footerLogo">Mustafa Kandemir</a>
    <div class="socialMediaLinks">
        <a href="#insta"><img src="/images/instalogo.png" alt="Instagram"></a>
        <a href="#linkedin"><img src="/images/linkedinlogo.png" alt="LinkedIn"></a>
        <a href="#x"><img src="/images/twitterlogo.png" alt="Twitter"></a>
        <a href="#facebook"><img src="/images/facelogo.png" alt="Facebook"></a>
    </div>  
    <hr>
    <div class="copyrighting">
        <a href="">© 2024 Mustafa Kandemir. All rights reserved.</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms of Service</a>
        <a href="">Cookies Settings</a>
    </div>
</footer>

