<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  

    <link rel="stylesheet" href="style.css">

    <title>MustafaKandemir/Projeler</title>
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/index">Mustafa Kandemir</a>
            </div>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="/index">Hakkımda</a></li>
                <li><a href="/projects">Projeler</a></li>
                <li><a href="/iletisim">İletişim</a></li>
            </ul>
        </nav>    
    </header>

    <h1>Project: <%= projectName %></h1>


    <footer>
        <a href="index.html" id="footerLogo">Mustafa Kandemir</a>
        <div class="socialMediaLinks">
            <a href="#insta"><img src="images/instalogo.png" alt=""></a>
            <a href="#linkedin"><img src="images/linkedinlogo.png" alt=""></a>
            <a href="#x"><img src="images/twitterlogo.png" alt=""></a>
            <a href="#facebook"><img src="images/facelogo.png" alt=""></a>
        </div>
        
        <hr>

        <div class="copyrighting">
            <a href="">© 2024 Mustafa Kandemir. All rights reserved.</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms of Service</a>
            <a href="">Cookies Settings</a>
        </div>
    </footer>
    
    <script src="script.js"></script>
</body>
</html>